fastapi~=0.115.5
uvicorn
websockets
jinja2
jupyter
pandas
pylint~=3.2.2
colorama~=0.4.6
mypy~=1.10.0
pytest==8.2.1
coverage==7.5.1
scikit-learn
matplotlib
seaborn
python-multipart
pydantic~=2.10.2
fonttools~=4.55.0